.Header {
  padding: 20px 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      h1 {
        font-size: 25px;
        color: violet;
        font-family: sans-serif;
      }
    }
    nav {
      display: flex;
      gap: 40px;
      a {
        text-decoration: none;
        color: violet;
      }
    }
  }
}
